.env
venv
puppies
imgs
xl0_decoder.onnx
xl0_encoder.onnx
data/
assets/checkpoints/l2.pt
assets/checkpoints/xl0.pt
generation-pipeline/__pycache__/
__pycache__/
*.pyc
wandb/
*.err
*.out
sdxl-turbo/

*.png
*.pdf
*.pptx

generation_pipeline/fig/1/giraffe/img_263936987.jpg
generation_pipeline/fig/1/giraffe/img_483911026.jpg
generation_pipeline/fig/1/giraffe/img_692811534.jpg
generation_pipeline/fig/1/giraffe/img_1100765622.jpg
generation_pipeline/fig/1/giraffe/img_1160408925.jpg
generation_pipeline/fig/1/giraffe/img_1415383650.jpg
generation_pipeline/fig/1/giraffe/img_1626704799.jpg
generation_pipeline/fig/1/giraffe/img_1986331832.jpg
generation_pipeline/fig/1/giraffe/img_3679661693.jpg
generation_pipeline/fig/1/giraffe/mask_263936987.pkl
generation_pipeline/fig/1/giraffe/mask_483911026.pkl
generation_pipeline/fig/1/giraffe/mask_692811534.pkl
generation_pipeline/fig/1/giraffe/mask_1100765622.pkl
generation_pipeline/fig/1/giraffe/mask_1160408925.pkl
generation_pipeline/fig/1/giraffe/mask_1415383650.pkl
generation_pipeline/fig/1/giraffe/mask_1626704799.pkl
generation_pipeline/fig/1/giraffe/mask_1986331832.pkl
generation_pipeline/fig/1/giraffe/mask_3679661693.pkl
generation_pipeline/fig/10/giraffe/img_263936987.jpg
generation_pipeline/fig/10/giraffe/img_483911026.jpg
generation_pipeline/fig/10/giraffe/img_692811534.jpg
generation_pipeline/fig/10/giraffe/img_1100765622.jpg
generation_pipeline/fig/10/giraffe/img_1160408925.jpg
generation_pipeline/fig/10/giraffe/img_1415383650.jpg
generation_pipeline/fig/10/giraffe/img_1626704799.jpg
generation_pipeline/fig/10/giraffe/img_1986331832.jpg
generation_pipeline/fig/10/giraffe/img_3679661693.jpg
generation_pipeline/fig/10/giraffe/mask_263936987.pkl
generation_pipeline/fig/10/giraffe/mask_692811534.pkl
generation_pipeline/fig/10/giraffe/mask_1100765622.pkl
generation_pipeline/fig/10/giraffe/mask_1160408925.pkl
generation_pipeline/fig/10/giraffe/mask_1415383650.pkl
generation_pipeline/fig/10/giraffe/mask_1626704799.pkl
generation_pipeline/fig/10/giraffe/mask_1986331832.pkl
generation_pipeline/fig/12.5/giraffe/img_263936987.jpg
generation_pipeline/fig/12.5/giraffe/img_483911026.jpg
generation_pipeline/fig/12.5/giraffe/img_692811534.jpg
generation_pipeline/fig/12.5/giraffe/img_1100765622.jpg
generation_pipeline/fig/12.5/giraffe/img_1160408925.jpg
generation_pipeline/fig/12.5/giraffe/img_1415383650.jpg
generation_pipeline/fig/12.5/giraffe/img_1626704799.jpg
generation_pipeline/fig/12.5/giraffe/img_1986331832.jpg
generation_pipeline/fig/12.5/giraffe/img_3679661693.jpg
generation_pipeline/fig/12.5/giraffe/mask_263936987.pkl
generation_pipeline/fig/12.5/giraffe/mask_483911026.pkl
generation_pipeline/fig/12.5/giraffe/mask_692811534.pkl
generation_pipeline/fig/12.5/giraffe/mask_1100765622.pkl
generation_pipeline/fig/12.5/giraffe/mask_1160408925.pkl
generation_pipeline/fig/12.5/giraffe/mask_1415383650.pkl
generation_pipeline/fig/12.5/giraffe/mask_1626704799.pkl
generation_pipeline/fig/12.5/giraffe/mask_1986331832.pkl
generation_pipeline/fig/15/giraffe/img_263936987.jpg
generation_pipeline/fig/15/giraffe/img_483911026.jpg
generation_pipeline/fig/15/giraffe/img_692811534.jpg
generation_pipeline/fig/15/giraffe/img_1100765622.jpg
generation_pipeline/fig/15/giraffe/img_1160408925.jpg
generation_pipeline/fig/15/giraffe/img_1415383650.jpg
generation_pipeline/fig/15/giraffe/img_1626704799.jpg
generation_pipeline/fig/15/giraffe/img_1986331832.jpg
generation_pipeline/fig/15/giraffe/img_3679661693.jpg
generation_pipeline/fig/15/giraffe/mask_263936987.pkl
generation_pipeline/fig/15/giraffe/mask_483911026.pkl
generation_pipeline/fig/15/giraffe/mask_1100765622.pkl
generation_pipeline/fig/15/giraffe/mask_3679661693.pkl
generation_pipeline/fig/3/giraffe/img_263936987.jpg
generation_pipeline/fig/3/giraffe/img_483911026.jpg
generation_pipeline/fig/3/giraffe/img_692811534.jpg
generation_pipeline/fig/3/giraffe/img_1100765622.jpg
generation_pipeline/fig/3/giraffe/img_1160408925.jpg
generation_pipeline/fig/3/giraffe/img_1415383650.jpg
generation_pipeline/fig/3/giraffe/img_1626704799.jpg
generation_pipeline/fig/3/giraffe/img_1986331832.jpg
generation_pipeline/fig/3/giraffe/img_3679661693.jpg
generation_pipeline/fig/3/giraffe/mask_263936987.pkl
generation_pipeline/fig/3/giraffe/mask_483911026.pkl
generation_pipeline/fig/3/giraffe/mask_692811534.pkl
generation_pipeline/fig/3/giraffe/mask_1100765622.pkl
generation_pipeline/fig/3/giraffe/mask_1160408925.pkl
generation_pipeline/fig/3/giraffe/mask_1415383650.pkl
generation_pipeline/fig/3/giraffe/mask_1626704799.pkl
generation_pipeline/fig/3/giraffe/mask_1986331832.pkl
generation_pipeline/fig/3/giraffe/mask_3679661693.pkl
generation_pipeline/fig/5/giraffe/img_263936987.jpg
generation_pipeline/fig/5/giraffe/img_483911026.jpg
generation_pipeline/fig/5/giraffe/img_692811534.jpg
generation_pipeline/fig/5/giraffe/img_1100765622.jpg
generation_pipeline/fig/5/giraffe/img_1160408925.jpg
generation_pipeline/fig/5/giraffe/img_1415383650.jpg
generation_pipeline/fig/5/giraffe/img_1626704799.jpg
generation_pipeline/fig/5/giraffe/img_1986331832.jpg
generation_pipeline/fig/5/giraffe/img_3679661693.jpg
generation_pipeline/fig/5/giraffe/mask_263936987.pkl
generation_pipeline/fig/5/giraffe/mask_483911026.pkl
generation_pipeline/fig/5/giraffe/mask_692811534.pkl
generation_pipeline/fig/5/giraffe/mask_1100765622.pkl
generation_pipeline/fig/5/giraffe/mask_1160408925.pkl
generation_pipeline/fig/5/giraffe/mask_1626704799.pkl
generation_pipeline/fig/5/giraffe/mask_1986331832.pkl
generation_pipeline/fig/5/giraffe/mask_3679661693.pkl
generation_pipeline/fig/7.5/giraffe/img_263936987.jpg
generation_pipeline/fig/7.5/giraffe/img_483911026.jpg
generation_pipeline/fig/7.5/giraffe/img_692811534.jpg
generation_pipeline/fig/7.5/giraffe/img_1100765622.jpg
generation_pipeline/fig/7.5/giraffe/img_1160408925.jpg
generation_pipeline/fig/7.5/giraffe/img_1415383650.jpg
generation_pipeline/fig/7.5/giraffe/img_1626704799.jpg
generation_pipeline/fig/7.5/giraffe/img_1986331832.jpg
generation_pipeline/fig/7.5/giraffe/img_3679661693.jpg
generation_pipeline/fig/7.5/giraffe/mask_263936987.pkl
generation_pipeline/fig/7.5/giraffe/mask_483911026.pkl
generation_pipeline/fig/7.5/giraffe/mask_692811534.pkl
generation_pipeline/fig/7.5/giraffe/mask_1100765622.pkl
generation_pipeline/fig/7.5/giraffe/mask_1415383650.pkl
generation_pipeline/fig/7.5/giraffe/mask_1626704799.pkl
generation_pipeline/fig/7.5/giraffe/mask_1986331832.pkl
generation_pipeline/fig/7.5/giraffe/mask_3679661693.pkl
fig/.DS_Store
