transformers
torch
torchvision
diffusers
matplotlib
accelerate
peft
timm
#efficientvit
numpy
opencv-python
albumentations
pytorch-lightning
wandb
opencv-python
albumentations
pycocotools
python-dotenv==1.0.1